TP6/.flows.json.backup
[
    {
        "id": "7f739debaab51450",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cb28b90a66bdfad",
        "type": "inject",
        "z": "7f739debaab51450",
        "name": "userConnected",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":1,\"name\":\"Leanne Graham\",\"username\":\"Bret\",\"email\":\"Sincere@april.biz\",\"address\":{\"street\":\"Kulas Light\",\"suite\":\"Apt. 556\",\"city\":\"Gwenborough\",\"zipcode\":\"92998-3874\",\"geo\":{\"lat\":\"-37.3159\",\"lng\":\"81.1496\"}},\"phone\":\"1-770-736-8031 x56442\",\"website\":\"hildegard.org\",\"company\":{\"name\":\"Romaguera-Crona\",\"catchPhrase\":\"Multi-layered client-server neural-net\",\"bs\":\"harness real-time e-markets\"}}",
        "payloadType": "json",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "da1d263318d37438",
                "71d8ad6aa273f9e5",
                "96035383ab2cadea"
            ]
        ]
    },
    {
        "id": "da1d263318d37438",
        "type": "debug",
        "z": "7f739debaab51450",
        "name": "Show payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "71d8ad6aa273f9e5",
        "type": "function",
        "z": "7f739debaab51450",
        "name": "Transform JSON",
        "func": "msg.payload = \"Hello \" + msg.payload.email;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "29b171ca0d4ea433"
            ]
        ]
    },
    {
        "id": "29b171ca0d4ea433",
        "type": "debug",
        "z": "7f739debaab51450",
        "name": "Show transformation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "96035383ab2cadea",
        "type": "user",
        "z": "7f739debaab51450",
        "name": "Mon utilisateur",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "d635a11256d4dd1d"
            ]
        ]
    },
    {
        "id": "d635a11256d4dd1d",
        "type": "debug",
        "z": "7f739debaab51450",
        "name": "Notre module",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 380,
        "wires": []
    }
]